---
import { ViewTransitions, fade, slide } from "astro:transitions";
---

<html transition:animate={fade({ duration: "3s" })} lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Before Sunrise</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="bg-gradient-to-b from-orange-200 to-orange-600">
      <div class="m-auto max-w-2xl text-lg py-20 px-6">
        <h1
          class="font-extrabold text-4xl text-purple-800 font-serif"
          id="before-sunrise-ruins-my-fucking-life"
        >
          Before Sunrise ruins my fucking Life!
        </h1>
        <br />
        <h2 class="text-2xl" id="teil-2-leben">Teil 2: Leben (WIP)</h2>
        <div class="text-transparent">
          <p>
            Jeden morgen wach ich auf, öffne den Vorhang und sehe diesen fucking
            Wohnblock.
          </p>
          <p>
            Er nimmt nur Platz ein. Er ist leer. Niemand macht sich die Mühe
            daran was zu ändern.
          </p>
          <p>
            Und ich kann actually nichts Anderes sehen (Wo Sonne? Wo Menschen?
            Wo Spaß am Leben lol?)?
          </p>
          <p>He’s literally me.</p>
          <p>
            Ich weiß ja das jeder diese Frustration mit seinem beschissenen
            Leben hat und so aber
          </p>
          <p>
            in letzter Zeit fühlt sich mein Leben nicht mal kacke, sondern nur
            nicht gelebt an.
          </p>
          <p>
            Die Teile meiner Seele, die ich nicht gnadenlos in Mark Zuckerbergs
            fetten Geldbeutel
          </p>
          <p>
            wichse, versuchen Connections zu Leuten aufrechtzuerhalten, für die
            ich nichts machen kann.
          </p>
          <p>
            Ihr Lappen, erzählt mir von euren Problemchen und denkt ich würde
            euch actually helfen können?
          </p>
          <p>
            Das ich mit euch spreche damit ihr euch aussprechen könnt und euch
            gehört fühlt?
          </p>
          <p>
            Hell nahhh (God forbid), ich saug euer Drama (Edward Style) weil es
            mir schmeckt
          </p>
          <p>und ich mich danach besser fühle</p>
          <p>
            (Immer noch Edward Style ig, eig fühlt er sich ja immer schlecht
            danach, ich nicht, haha).
          </p>
          <p>
            Euren Schmerz teile ich nicht (mehr). Meine Empathie ist ein Scam.
            Eure Sorgen entertainen mich.
          </p>
          <p>
            Weil es mir schon gut geht. Meine Probleme habe ich schon längst
            tief vergraben,
          </p>
          <p>
            mich hyperfokussiert auf die guten Sachen. Und jetzt bin ich fast
            zufrieden so.
          </p>
          <p>
            Ich muss nichts mehr tun. Mir gehts ja schon besser als allen
            anderen.
          </p>
          <p>Ich hab den Wettbewerb des Lebens gewonnen.</p>
          <p>
            Aber mit der Mentalität eines Tech-CEOs mit God-Complex brauche ich
            MEHR/BESSER.
          </p>
          <p>
            MEHR/BESSER Liebe. MEHR/BESSER Kunst. MEHR/BESSER Leben. Ich war
            fast zufrieden.
          </p>
          <p>Und dann hab ich wieder diesen scheiß Film geguc-</p>
          <br />
        </div>
        <h2 class="text-2xl" id="teil-3-kunst">Teil 3: Kunst (WIP)</h2>
        <div class="text-transparent">
          <p>
            Ich denke seit ich ungefähr 13 Jahre alt war, wollte ich Filme
            machen.
          </p>
          <p>
            Regie, Kamera, Drehbuch, am besten alle 3. Ich liebte Christopher
            Nolans Filme.
          </p>
          <p>
            Sie atmeten Film Magie mit jedem Bild. Ich wollte unbedingt
            Kontrolle über diese Magie bekommen.
          </p>
          <p>
            Ich lies Bücher, guckte Filme, Videos über Filme, Filme über Filme.
            Je mehr ich sah, je mehr ich
          </p>
          <p>
            wusste, je schwerer fiel es mir Filme zu fühlen für das was sie
            waren. Zunehmend wurden Filme die mir
          </p>
          <p>
            gefielen zu Puzzeln, welche ich versuchte zu analysieren und
            dekonstruieren während ich sie sah,
          </p>
          <p>
            und Filme die ich als abwertig betrachtete nahm ich brutalst
            auseinander anhand der
          </p>
          <p>Regeln und Kriterien die ich zu kennen und verstehen hoffte.</p>
          <p>
            Ich sah Oldboy und ich überlegte wie man einen derartigen
            Plot-Twists schreiben könnte,
          </p>
          <p>
            einer der sowohl Handlung, Charakter Motivationen und Thematik
            nahtlos vereint.
          </p>
          <p>
            Ich sah City of God und wollte den rasanten, atemberaubenden
            Montagestil und die wilde,
          </p>
          <p>stitlistisch maximalistische Kameraführung reproduzieren.</p>
          <p>Dann sah ich diesen einen Film und ich wollte mich verlieben.</p>
          <br />
        </div>
        <h2
          class="text-2xl font-extrabold font-serif mb-2 text-rose-700"
          id="teil-1-liebe"
        >
          Teil 1: Liebe
        </h2>
        <div
          class="text-transparent bg-clip-text bg-gradient-to-b from-rose-700 to-rose-900"
        >
          <p>
            Before Sunrise sah ich zum ersten Mal mit 14, alleine, mit meiner
            Stirn auf der Tischplatte, auf meinem iPad unter dem Schreibtisch.
          </p>
          <p>Es flüsterte ein geheimes Verlangen in meine Seele.</p>
          <br />
          <p>
            Before Sunrise war pausiert auf dem Fernseher bei meinem ersten
            Kuss.
          </p>
          <p>Nach dem Tag konnte ich mich kaum an den Film erinnern.</p>
          <br />
          <p>
            Vor Sonnenaufgang gingen wir los, bis in die Mitte der Stadt. Es war
            unerträglich warm, mein Rucksack zu schwer.
          </p>
          <p>
            Wir liefen und sprachen über alles mögliche, aber nichts besonderes.
          </p>
          <p>
            Auf 35 Kilometern hätten wir viel sehen können. Ich sah nur dich.
          </p>
          <br />
          <p>
            Before Sunrise sah ich zum dritten Mal mit 20, alleine, in meinem
            dunklen Einzelapartment, das einzige Licht kam vom Bildschirm meines
            Laptops.
          </p>
          <p>
            Bevor sie sich auf dem Riesenrad küssen blickt Celine auf Jesses
            Lippen. Lange, erwartungvoll.
          </p>
          <p>
            Ich dachte daran, wie oft ich mit diesem Blick schon angeguckt
            wurde.
          </p>
          <p>Ob es immer noch so magisch war wie beim dritten Mal.</p>
          <br />
          <p>
            Before Sunrise läuft im Hintergrund während ich diesen Text
            schreibe.
          </p><p>
            Während mancher Szenen wollen sich meine Finger nicht bewegen. Sie
            zitterten als ich vor Tagen versuchte die ersten Akkorde von Come
            Here auf meiner Gitarre zu spielen.
          </p>
          <br />
          <p>
            Ich bin schon lange glücklich und verliebt. Warum tut es immer noch
            weh?
          </p>
          <br />
        </div>

        <div class="mt-5 sticky bottom-10 flex min-w-max justify-end">
          <a
            href="/texte/texte"
            class="size-20 border-hidden rounded-full bg-orange-400 flex justify-center items-center shadow-inner shadow-yellow-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="size-6 stroke-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
