<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinge in Text!</title>
  </head>
  <body class="m-auto my-24 max-w-2xl text-lg p-6">
    <h1 class="text-3xl font-semibold">Dinge in Text!</h1>

    <ul>
      <li>
    <a href="/texte/BeforeSunrise"
      >Before Sunrise ruins my fucking Life?</a
    >
      </li>
      <li>
    <a href="/"> Zurück</a>
      </li>
    </ul>
  </body>
</html>
