---
import { ViewTransitions } from 'astro:transitions';
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Texte!</title>
    <ViewTransitions></ViewTransitions>
  </head>
  <body class="m-auto my-24 max-w-2xl text-lg p-6">
    <h1 class="text-3xl font-semibold">Texte!</h1>
    <div class="h-4"></div>
    <ul>
      <li>
    <a class="hover:underline font-extrabold text-purple-800 font-serif" href="/texte/BeforeSunrise" transition:name="title"
      >Before Sunrise?</a
    >
      </li>
      <li>
    <a class="hover:underline" href="/"> Zurück</a>
      </li>
    </ul>
  </body>
</html>
