---

---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hi Welt?</title>
  </head>
  <body class="m-auto my-24 max-w-2xl text-lg p-6">
    <h1 class="text-3xl font-semibold">Hi Welt?</h1>
    <a href="/texte/texte">Dinge in Text?</a>
  </body>
</html>
